<section id="portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Partners</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-12">
        <a href="https://www.nature.org/en-us/" class="portfolio-box">
          <img
            src="img/partners/the-nature-conservancy-logo.png"
            class="img-responsive"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</section>
