<section id="team">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Team</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-4 text-center">
        <a href="#" class="portfolio-box">
          <img
            src="img/team/placeholder-headshot.png"
            class="img-responsive mx-auto d-block"
            alt="Team Member 1"
          />
        </a>
        <h3>Name 1</h3>
        <p>Title 1</p>
      </div>
      <div class="col-lg-4 text-center">
        <a href="#" class="portfolio-box">
          <img
            src="img/team/placeholder-headshot.png"
            class="img-responsive mx-auto d-block"
            alt="Team Member 2"
          />
        </a>
        <h3>Name 2</h3>
        <p>Title 2</p>
      </div>
      <div class="col-lg-4 text-center">
        <a href="#" class="portfolio-box">
          <img
            src="img/team/placeholder-headshot.png"
            class="img-responsive mx-auto d-block"
            alt="Team Member 3"
          />
        </a>
        <h3>Name 3</h3>
        <p>Title 3</p>
      </div>
    </div>
  </div>
</section>
